html,body {margin: 0;color: #ffffff; background-color: #1e1e1e; height: 100%;overflow: hidden;}

body { position: relative;}

.jumbutron,main {
  height: 100vh;
  display: flex;
}

/* home */
.jumbutron{display: flex; flex-direction: column; justify-content: center; align-items: center;}
h1 {font-size: 55px; margin: 0;}
ul {list-style: none; padding: 0; margin: 0; display: flex;}
li {    display: flex;
  flex-direction: column;
  background: #745fb5;
  color: #fff;
  text-align: left;
  padding: 16px;
  width: auto;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgb(249, 251, 253);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  white-space: nowrap;
  margin: 10px;
}
/* end home */

header {
  background-color: #1e1e1e;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1a1b17;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.08);
}

select,
.btn {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(219, 219, 219);
  background-color: #1e1e1e !important;
  font-size: 14px;
  border: 0;
  padding: 7px 20px;
  height: 100% !important;
  cursor: pointer;
  outline: none;
  transition: background-color .3s;
}
select {max-height: 150px !important;}

a {
  color: rgb(219, 219, 219);
  background-color: #272822 !important;
  text-decoration: none !important;
  padding: 12px 20px 11px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background-color .3s;
}

.btn:hover,
button:hover,a:hover {
  background-color: #2f3129 !important;
  color: #ffffff !important;
}

button:disabled,
button[disabled=disabled],
button:disabled {
  background-color: #4caf50 !important;
  cursor: not-allowed;
}

.preview {
  font-family: monospace;
  font-size: 16px;  
  height: 100% !important;
  width: 40% !important;
  border-left: 2px solid #1a1b17;
}

.prev-box {
  padding: 10px 20px;
  word-break: break-word;
}

.output {
  margin-bottom: 10px;
}

#UNIQUE_ID_OF_DIV,
.ace_content,
.editor {
  width: 60% !important;
  height: 96.6% !important;
}

#UNIQUE_ID_OF_DIV {
  width: 100% !important;
}
.ace-monokai,.ace-monokai .ace_gutter {
  background: #1e1e1e !important;
}

/**/
input[type="text"] {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #272822;
  color: #fff;
  border: 1px solid #101010;
  border-radius: 0;
  outline: none;
}

/* ultl*/
.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.h-100 {
  height: 100% !important;
}
.w-100{width: 100% !important;}

.bg-orange {
  background-color: #da8300 !important;
}

.bg-rose {
  background-color: #e91e63 !important;
}

.bg-green {
  background-color: #4caf50 !important;
}

.bg-blue {
  background-color: #607d8b !important;
}

.bg-dark-btn {
  background-color: #1e1e1e !important;
}

.bg-dark-btn,
.bg-blue,
.bg-green,
.bg-orange,
.bg-rose {
  color: #ffffff !important;
}

/* scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}